{{ $pf := promptStringOnce . "pf" "passphrase" -}}
# vim: ts=4 sw=4 et ai ft=toml

#
# Don't edit 
#  .config/chezmoi/chezmoi.toml
# instead, use
#  `chezmoi edit-config-template`
#

# https://www.chezmoi.io/reference/configuration-file/variables/
progress = true

encryption = "gpg"
[data]
    pf = {{ $pf | quote }}
[gpg]
    symmetric = true
    args = ["--quiet", "--batch", "--passphrase", {{ $pf | quote }}, "--no-symkey-cache"]
[git]
    autoAdd = true
    autoCommit = true
