{{ $passphrase := promptStringOnce . "passphrase" "passphrase" -}}
# vim: ts=4 sw=4 et ai ft=toml

#
# Don't edit 
#  .config/chezmoi/chezmoi.toml
# instead, edit
#  .local/share/chezmoi/.chezmoi.toml.tmpl
#

# https://www.chezmoi.io/reference/configuration-file/variables/
progress = true

encryption = "gpg"
[data]
    passphrase = {{ $passphrase | quote }}
[gpg]
    symmetric = true
    args = ["--quiet", "--batch", "--passphrase", {{ $passphrase | quote }}, "--no-symkey-cache"]
[git]
    autoAdd = true
    autoCommit = true
