# vim: ts=4 sw=4 et ai ft=toml

#
# Don't edit 
#  .config/chezmoi/chezmoi.toml
# instead, use
#  `chezmoi edit-config-template`
#

# https://www.chezmoi.io/reference/configuration-file/variables/
progress = true

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1yhyrgw6tdn66g2dy5st25zt4vwy532fk5ytjxtraft3n79gxy3ussdpw7v"
[git]
    autoAdd = true
    autoCommit = true
